{% set title = 'Modifier mon profil' %}
{% set userId = app.request.attributes.get('id') %}
{% extends 'base.html.twig' %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="col-xl-10 col-12 mx-auto">
        <div class="container-xxl bg-dark mt-3 p-3 rounded text-white">
            <div class="row">
                <h2 class="border-3 border-bottom border-success pb-2"><span class="fw-bold text-success">&sol;&sol;</span> {{ title }}</h2>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-8">
                    {{ form_start(form) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.firstname, {'label': 'Prénom'}) }}
                    {{ form_row(form.lastname, {'label': 'Nom'}) }}
                    {{ form_row(form.picture, {'label': 'Avatar'}) }}
                    <button class="btn btn-success mb-2">Modifier</button> <a class="btn btn-primary mb-2" href="{{ path('admin_user_read', {id: userId}) }}">Retour</a>
                    {{ form_end(form) }}
                    <a href="{{ path('admin_user_edit_password', {id: userId}) }}" class="link-success">Modifier mon mot de passe</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
